<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% this.each do |thi| %>
      <tr>
        <td><%= link_to thi.name, thi %></td>
        <td><%= thi.average_rating %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>