<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% this.each do |this| %>
      <tr>
        <td><%= link_to this.name, this %></td>
        <td><%= this.average_rating %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>